<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNumber</key>
	<string>206</string>
	<key>PreviousPublishedBuildNumber</key>
	<string>0</string>
	<key>Version</key>
	<string>0.8.0</string>
</dict>
</plist>
