<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BundleIdentifier</key>
    <string>cn.simonwong.speaker</string>
    <key>TeamIdentifier</key>
    <string>D7QJXSW5GJ</string>
    <key>UpdateFeedURL</key>
    <string>https://github.com/simonwong/speaker/releases/latest/download/appcast.xml</string>
    <key>UpdateDownloadURLPrefix</key>
    <string>https://github.com/simonwong/speaker/releases/download/</string>
    <key>ProductURL</key>
    <string>https://github.com/simonwong/speaker</string>
    <key>UpdatePublicEDKey</key>
    <string>FEFA6ITe1v6iS7YOS81JC7fOT+DL7oIzUk1wDdOJxKI=</string>
</dict>
</plist>
